.container {
    display: flex;
    column-gap: 10px;
}

.button {
    border: none;
    background-color: blue;
    width: 110px;
}

.button:hover {
    background-color: darkblue;
}

.reset {
    background-color: crimson;
}

.reset:hover {
    background-color:darkred;
}