
.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
}

.stat {
    display: flex;
    justify-content: space-between;
    
}

.number {
    color: cornflowerblue;
}